<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prisma Cloud Day Demo</title>
    <style>
        body {
          height: 100%;
          min-height: 100vh;
          margin: 0;
          padding: 0;
          background-color:rgb(0, 0, 0);
        }
        .heading{
            text-align: center;
              color: rgb(255, 255, 255);
        }
    </style>
</head>
<body>
    <div class="heading">
        <h1> Hola Mundo !! !</h1>
        <h2>
              Bienvenidos a Prisma Cloud SVENGOECHEA SE !!
          </h2>
        <h2> Esto es una aplicacion vulnerable a ser protegida por Prisma Cloud !! </h2>
    </div>
</body>
</html>